.center{
    background-color: lightgrey;
    border-style: normal;
    border-bottom: 10px normal orange;
    padding: 0% 20% 0% 20%;
    margin: 0% 25% 0% 25%;
    resize:vertical;
}

h1{text-align: center;}

h2 {color: rgba(207, 138, 4, 255);}

h3 {font-style: italic;}

hr{color: orange;}

#corpo{text-align: center;}

#fine{text-align: center;}

#corpo {resize: vertical;}