/*Centrare immagine e titolo*/
#center{
    display:block;
    margin:0px auto;
    text-align:center;
    background-color: lightgrey;
}

h1{text-align: center;}

h2 {color: rgba(207, 138, 4, 255);}

h3 {font-style: italic;}

hr{color: orange;}

#corpo{text-align: left;
resize: both;
overflow: auto;}

#fine{text-align: center;
    resize: both;
overflow: auto;}

